# Gradle files
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/
*.iml
*.iws
*.ipr

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Android Studio captures folder
captures/

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx/

# Google Services (e.g. APIs or Firebase)
google-services.json

# Version control
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Keystore files
*.jks
*.keystore

# Test results
app/build/reports/
app/build/test-results/
